@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}
.container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "PingFangSC-Regular, sans-serif";
}
.hide {
  display: none;
}
.next {
  display: block;
  color: #fff;
  width: 92%;
  height: 40px;
  background-color: #bdbdbd;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
}
.next.now {
  background-color: #f993a6;
}
.select {
  width: 40%;
  line-height: 1.4rem;
  display: block;
  background-color: #eeeeee;
  border-radius: 0.2rem;
  height: 1.4rem;
  position: relative;
  margin-top: 0.2rem;
  text-align: center;
}
.select img {
  width: 0.6rem;
  height: 0.3rem;
  transform: rotate(180deg);
  margin-right: 0.2rem;
  float: right;
  margin-top: 0.6rem;
}
.mod {
  width: 100%;
  height: 100%;
  max-width: 750px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 0 0.4rem;
  z-index: 22;
  text-align: center;
}
.mod li.now {
  color: #f993a6;
}
.mod li:last-child {
  border: none;
}
.mod .all {
  width: 92%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.4rem;
}
.mod ul,
.mod .no {
  border: 1px solid #c8c8c8;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.mod li,
.mod span {
  line-height: 1.4rem;
  display: block;
  height: 1.4rem;
  border-bottom: 1px solid #c8c8c8;
}
.mod .no {
  margin-top: 0.4rem;
}
.mod .no span {
  border-bottom: none;
}
.model {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  position: fixed;
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: none;
}
.model .m-text {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 0.2rem;
  color: #2bbcb0;
  line-height: 50px;
}
.model button {
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}
@media (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 28.27px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
.container {
  background: #f993a6;
}
.main {
  width: 100%;
  height: 100%;
  padding: 1rem 0.6rem;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.main .head_main {
  color: #fff;
  margin-top: 0.4rem;
}
.main .head_main img {
  width: 3rem;
  height: 3rem;
}
.main .head_main span {
  color: #ffce65;
}
.main .head_main p {
  font-size: 0.52rem;
}
.main .bottom_main {
  background-color: #f993a6;
  width: 100%;
  position: absolute;
  padding: 200px 0.8rem 0 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.main .bottom_main a {
  color: #fff;
}
.main .bottom_main .go {
  display: block;
  color: #fff;
  font-size: 24px;
  padding: 4px 15px;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-bottom: 0.3rem;
}
.main .bottom_main .go ::before {
  content: ">";
  color: #fff;
  position: absolute;
  right: 55px;
}
.main .bottom_main p {
  color: #57c0fe;
  font-size: 0.52rem;
}
.main .bottom_main p a {
  text-decoration: underline;
}
