@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}
.container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "PingFangSC-Regular, sans-serif";
}
.hide {
  display: none;
}
.next {
  display: block;
  color: #fff;
  width: 92%;
  height: 40px;
  background-color: #bdbdbd;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
}
.next.now {
  background-color: #f993a6;
}
.select {
  width: 40%;
  line-height: 1.4rem;
  display: block;
  background-color: #eeeeee;
  border-radius: 0.2rem;
  height: 1.4rem;
  position: relative;
  margin-top: 0.2rem;
  text-align: center;
}
.select img {
  width: 0.6rem;
  height: 0.3rem;
  transform: rotate(180deg);
  margin-right: 0.2rem;
  float: right;
  margin-top: 0.6rem;
}
.mod {
  width: 100%;
  height: 100%;
  max-width: 750px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 0 0.4rem;
  z-index: 22;
  text-align: center;
}
.mod li.now {
  color: #f993a6;
}
.mod li:last-child {
  border: none;
}
.mod .all {
  width: 92%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.4rem;
}
.mod ul,
.mod .no {
  border: 1px solid #c8c8c8;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.mod li,
.mod span {
  line-height: 1.4rem;
  display: block;
  height: 1.4rem;
  border-bottom: 1px solid #c8c8c8;
}
.mod .no {
  margin-top: 0.4rem;
}
.mod .no span {
  border-bottom: none;
}
.model {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  position: fixed;
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: none;
}
.model .m-text {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 0.2rem;
  color: #2bbcb0;
  line-height: 50px;
}
.model button {
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}
@media (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 28.27px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
.resultBox {
  width: 92%;
  position: relative;
  padding: 0.6rem;
  background-color: #f993a6;
  color: #fff;
}
.resultBox .resultLogo {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0);
}
.resultBox .resultLogo img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.resultBox .resultLogo .txt {
  width: 70%;
  height: 70%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
  background-color: #f993a6;
  transform: translate(-50%);
  text-align: center;
}
.resultBox .resultLogo .txt .num {
  font-size: 30px;
  margin-top: 30px;
}
.resultBox .resultLogo .txt .num span {
  font-size: 20px;
}
.resultBox .resultLogo .txt .cgl {
  font-size: 20px;
}
.resultBox .again {
  width: 3.2rem;
  height: 1.4rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  font-size: 0.54rem;
  position: absolute;
  top: 10px;
  right: 0.6rem;
  text-align: center;
  line-height: 1.4rem;
}
.resultBox .again a {
  color: #fff;
}
.resultBox .again img {
  width: 0.8rem;
  height: 0.8rem;
  vertical-align: middle;
}
.resultBox .info {
  display: flex;
}
.resultBox .info img {
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: bottom;
}
.resultBox .info :last-child {
  border-right: none;
}
.resultBox .info div {
  flex: 1;
  text-align: center;
  border-right: 2px solid #fff;
  font-size: 0.6rem;
  margin-top: 250px;
}
.resultCon {
  width: 100%;
  background-color: #F1F5F7;
  box-sizing: border-box;
  color: #666666;
}
.resultCon .tab {
  width: 100%;
  height: 1.6rem;
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1.6rem;
}
.resultCon .tab li {
  width: 33.33%;
  float: left;
  font-size: 0.52rem;
  text-align: center;
  color: #333;
}
.resultCon .tab .now {
  color: #f993a6;
  border-bottom: 2px solid #f993a6;
  padding-bottom: 0.44rem;
}
.resultCon .procedure {
  border-left: 1px solid #DFDFDF;
  margin: 0.4rem;
  padding: 0.2rem 0 0.2rem 0.4rem;
}
.resultCon .procedure .procedureBox {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 0.2rem;
}
.resultCon .procedure .procedureBox .lv {
  color: #70d74c;
}
.resultCon .procedure .procedureBox .huang {
  color: #ffce65;
}
.resultCon .procedure .procedureBox .fen {
  color: #f993a6;
}
.resultCon .procedure .procedureBox .lan {
  color: #57c0fe;
}
.resultCon .procedure .procedureBox > ::after {
  content: "";
  border: 1px solid #fff;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: -0.64rem;
  background-color: #f993a6;
}
.resultCon .procedure .procedureBox o {
  position: absolute;
  right: 20px;
}
.resultCon .procedure .procedureBox o img {
  width: 0.6rem;
  height: 0.28rem;
  transform: rotate(180deg);
}
.resultCon .procedure .procedureBox o img.now {
  width: 0.6rem;
  height: 0.28rem;
  transform: rotate(0deg);
}
.resultCon .procedure .procedureBox img {
  width: 0.68rem;
  height: 0.68rem;
  vertical-align: bottom;
}
.resultCon .procedure .procedureBox p {
  font-size: 0.56rem;
  margin-bottom: 5px;
}
.resultCon .procedure .procedureBox .txt {
  border-top: 1px solid #DFDFDF;
  padding-top: 10px;
}
.resultCon .procedure .procedureBox .txt .oneLine {
  display: block;
}
.resultCon .procedure .procedureBox .txt .oneLine p {
  font-size: 0.44rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  margin-bottom: 0.6rem;
}
.resultCon .procedure .procedureBox .txt .complete {
  display: none;
}
.resultCon .procedure .procedureBox .txt .complete p {
  font-size: 0.44rem;
  color: #333;
  margin-bottom: 0.6rem;
}
.resultCon .rate {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  padding: 0.8rem 10px;
}
.resultCon .rate .pic {
  position: relative;
}
.resultCon .rate .pic div {
  position: absolute;
  text-align: center;
  font-size: 0.52rem;
}
.resultCon .rate .pic .one {
  left: 11.33%;
  top: 2.62rem;
}
.resultCon .rate .pic .one span {
  width: 2rem;
  height: 2rem;
  display: block;
  background-color: #f993a6;
}
.resultCon .rate .pic .two {
  left: 44.66%;
  top: 1.62rem;
}
.resultCon .rate .pic .two span {
  width: 2rem;
  height: 3rem;
  display: block;
  background-color: #ec788e;
}
.resultCon .rate .pic .three {
  left: 77.99%;
  top: 0.62rem;
}
.resultCon .rate .pic .three span {
  width: 2rem;
  height: 4rem;
  display: block;
  background-color: #ee5b77;
}
.resultCon .rate .pic img {
  width: 100%;
  height: 5.44rem;
}
.resultCon .rate .txt {
  background-color: #fff;
  display: flex;
}
.resultCon .rate .txt p {
  flex: 1;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  font-weight: 700;
}
.resultCon .rate .sart {
  font-size: 0.56rem;
  text-align: center;
  margin-top: 10px;
  color: #999;
  font-weight: 700;
}
.resultCon .cost {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}
.resultCon .cost .top {
  width: 100%;
  background-color: #ffce65;
  padding: 1.2rem 0.4rem 0.4rem 0.4rem;
  box-sizing: border-box;
  position: relative;
}
.resultCon .cost .top p {
  font-size: 0.48rem;
  text-align: center;
}
.resultCon .cost .top .title {
  color: #f993a6;
  text-align: center;
  font-size: 0.48rem;
}
.resultCon .cost .top .price {
  color: #f993a6;
  text-align: center;
  font-size: 0.48rem;
  font-weight: 700;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}
.resultCon .cost .top .txt {
  font-size: 0.36rem;
  text-align: left;
  color: #c6c6c6;
}
.resultCon .cost .top .help {
  display: block;
  font-size: 0.52rem;
  position: absolute;
  right: 25px;
  top: 15px;
  width: 0.6rem;
  height: 0.6rem;
  border: 0.04rem solid #f993a6;
  border-radius: 50%;
  text-align: center;
  line-height: 0.6rem;
  color: #f993a6;
}
.resultCon .cost .fixed {
  width: 100%;
  height: 1.6rem;
  position: fixed;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.6rem;
  color: #f993a6;
  background-color: #fff;
  line-height: 1.6rem;
  z-index: 9;
}
.resultCon .cost .fixed img {
  width: 0.68rem;
  height: 0.68rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
.resultCon .cost .info .infoTitle {
  padding: 0 0.4rem;
  height: 2rem;
  background-color: #f993a6;
  color: #fff;
  line-height: 2rem;
  font-size: 0.76rem;
  font-weight: 700;
}
.resultCon .cost .info .infoTitle img {
  width: 0.76rem;
  height: 0.76rem;
  margin-right: 0.2rem;
}
.resultCon .cost .info .content {
  margin: 0.6rem;
  border: 0.04rem solid #c6c6c6;
  font-size: 0.6rem;
  padding: 0.2rem;
}
.resultCon .cost .info .content .title {
  color: #000;
  border-bottom: 1px solid #c6c6c6;
  padding: 0.2rem 0 0.4rem 0;
}
.resultCon .cost .info .content .photo {
  width: 0.6rem;
  height: 0.6rem;
  background: url("../images/weixuanzezhuangtai_@3x.png") no-repeat;
  background-size: 0.6rem 0.6rem;
  float: left;
  margin-top: 0.3rem;
}
.resultCon .cost .info .content .photo2 {
  width: 0.6rem;
  height: 0.6rem;
  background: url("../images/weixuanzezhuangtai_@3x.png") no-repeat;
  background-size: 0.6rem 0.6rem;
  float: left;
  margin-top: 0.3rem;
}
.resultCon .cost .info .content .photo.icon {
  background: url("../images/xuanzezhuangtai_.png") no-repeat;
  background-size: 0.6rem 0.6rem;
}
.resultCon .cost .info .content .photo2.icon {
  background: url("../images/xuanzezhuangtai_.png") no-repeat;
  background-size: 0.6rem 0.6rem;
}
.resultCon .cost .info .content .price {
  color: #f993a6;
  float: right;
  font-size: 0.52rem;
}
.resultCon .cost .info .content .titleInfo {
  margin: 0.4rem 0;
  font-size: 0.52rem;
}
.resultCon .fa {
  font-size: 0.52rem;
  margin-top: 10px;
  margin-bottom: 0.68rem;
}
.resultCon .fa .select {
  width: 42%;
  display: inline-block;
}
.resultCon .fa .select > img {
  width: 0.6rem;
  height: 0.28rem;
  transform: rotate(180deg);
  vertical-align: middle;
  float: right;
}
.resultCon .help {
  position: absolute;
  right: 28px;
  top: -0.2rem;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 0.04rem solid #f993a6;
  text-align: center;
  line-height: 0.9rem;
  color: #f993a6;
  font-size: 0.68rem;
}
.resultCon .question {
  width: 12.8rem;
  height: 4rem;
  position: absolute;
  z-index: 2;
  right: 25px;
  top: 1.1rem;
  box-sizing: border-box;
}
.resultCon .question img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.resultCon .question p {
  padding: 1rem;
  position: absolute;
  color: #fff;
  font-size: 0.48rem;
  font-weight: 700;
}
